@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
 html {
    background-color: #D7D7D7;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
p, h1, h2, h3, h4, span, a {
    font-family: 'Source Sans Pro', sans-serif !important;
}
span.date {
    float: left;
    width: 100px;
    margin-right: 70px;
    font-size: 12pt !important;
    color: #707070;
}
.unread {
    font-weight: 400 !important;
}
.unread-csv {
    border-color: #34AADC !important;
    color: #34AADC !important;
}
.unread-csv:hover {
    color: white !important;
    background: #34AADC !important;
}
h1 {
    margin-top: 0;
    font-size: 62px !important;
    font-weight: 200;
    letter-spacing: 20px;
    color: #707070;
    margin-bottom: 50px;
}
h2 {
    font-size: 54px !important;
    font-weight: 200;
    letter-spacing: 20px;
    color: #707070;
    display: inline;
    margin-top: -15px;
}
a.account {
    font-size: 18px !important;
    font-weight: 300;
    color: #707070;
    float: right;
    text-decoration: none;
    cursor: pointer;
    line-height: 30px;
}
a.tile-title {
    font-size: 18px !important;
    font-weight: 300;
    color: #707070;
    text-decoration: none;
}
a.tile-line {
    font-size: 12pt !important;
    font-weight: 300;
    color: #707070;
    text-decoration: none;
}
a.tile-link {
    font-size: 12pt !important;
    width: 50px;
    text-align: center;
    font-weight: 300;
    border: 1px solid #707070;
    color: #707070;
    border-radius: 4px;
    background: none;
    float: right;
    padding: 0 5px;
    /*transition cross-browser stuff*/
    -webkit-transition: 0.3s linear;
    /* Safari 3.2+, Chrome */
    -moz-transition: 0.3s linear;
    /* Firefox 4-15 */
    -o-transition: 0.3s linear;
    /* Opera 10.5–12.00 */
    transition: 0.3s linear;
    /* Firefox 16+, Opera 12.50+ */
}
a.tile-link:hover {
    color: white;
    background: #707070;
}
a.pagination {
    font-size: 12px !important;
    margin: 0 10px;
}
div.notification {
    line-height: 15px;
    position: absolute;
    color: white;
    top: 15px;
    left: 155px;
    font-size: 8pt !important;
    background: #34AADC;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 2px;
}
.centered {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
}
.password-input {
    background: url(../img/icons/password-24.png) left no-repeat !important;
    background-position: 5px 5px !important;
}
.username-input {
    background: url(../img/icons/username-24.png) left no-repeat !important;
    background-position: 5px 5px !important;
}
.header {
    margin: 25px 25px;
}
.search-box {
    background: url(../img/icons/search-24.png) left no-repeat !important;
    background-position: 5px 5px !important;
    width: 200px !important;
    height: auto;
    float: right;
    margin-right: 25px !important;
}
/*ANIMATION==========================================================*/

.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: #707070;
}
/*CONTAINER===========================================================*/

.content {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}
div.container {
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 630px;
    height: 300px;
    overflow: hidden;
}
.left-tile {
    margin-right: 20px;
    margin-bottom: 20px;
}
.right-tile {
    margin-bottom: 20px;
}
.tile-header {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.tile-content {
    margin: 0 20px;
    height: 200px;
    border-bottom: 1px solid white;
}
.tile-footer {
    margin-top: 10px;
    text-align: center;
}
.tile-content-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 8px 0;
}
.last {
    border-bottom: none !important;
}